@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --firstColor: #90a4be; /* Cadet Gray*/
  --secondColor: #212f49; /* Blue*/
  --thirdColor: #0d1b2a; /*Rich Black*/
  --FourthColor: #4a6481; /*Paynes Gray*/
}

/* General */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #0d1b2a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka";
}
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
  font-weight: 600;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .main {
    width: 90%;
  }
}
.card-container {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.title-sectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-sectContainer .small-title {
  padding-left: 0;
}

/* Header Section */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.header-logo {
  font-weight: 600;
  color: #212f49;
  margin: 1rem 0;
}
.header-logo span {
  color: #4a6481;
}
.head-nav {
  color: #0d1b2a;
  font-family: "Fredoka";
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}
.head-nav:hover {
  transition: 0.2s;
  cursor: pointer;
  color: #90a4be;
}

.header-nav {
  display: flex;
  gap: 3rem;
}

/* Burger Nav */
.burgerNav div {
  width: 28px;
  height: 3px;
  background-color: #0d1b2a;
  margin: 7px;
  transition: all 0.3s;
  z-index: 999;
}
.burgerNav {
  display: none;
  z-index: 999;
  position: fixed;
  top: 25px;
  right: 35px;
}

/* Home Section */
#home-section {
  height: 620px;
  margin: auto;
  display: flex;
  align-items: center;
}
main .home-article .image-homeArticle {
  flex: 1 1;
}

.small-title {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #90a4be;
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
article .small-title::before {
  content: "";
  width: 35px;
  height: 1.5px;
  background: #90a4be;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

.btn-container {
  display: flex;
  gap: 10px;
}
.tombol {
  padding: 15px 25px;
  font-size: 1rem;
  font-family: "Fredoka";
  font-weight: 500;
  border: solid #212f49 2px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.cv-button {
  background-color: white;
}
.cv-button:hover {
  background-color: #212f49;
  color: white;
}
.github-button {
  background-color: #212f49;
}
.github-button a {
  color: white;
  text-decoration: none;
}
.github-button:hover {
  background-color: #0d1b2a;
  border-color: #0d1b2a;
}

.home-title {
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem 0 0.8rem;
}
.home-article p {
  margin-top: 0.8rem;
}
.home-title span {
  color: #4a6481;
}

.image-homeArticle img {
  width: 600px;
}

/* Services Section */
#service-section {
  background-color: #e8f2fc;
  padding: 4rem 0 8rem;
}
.services .small-title {
  margin: 0;
  padding-left: 8px;
}

.service-card {
  width: 560px;
  padding: 2.5rem 1.5rem;
  text-align: center;
  background: white;
  border-radius: 30px;
}
.service-card h4 {
  margin: 1rem 0 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: #212f49;
}
.service-card i {
  margin: 0 auto;
  color: #212f49;
  padding: 0.7rem 1rem;
  background-color: #e8f2fc;
  border-radius: 10px;
}
.card-article p {
  margin: 0.5rem 0;
}

/* Portfolio Section */
#portfolio-section {
  padding: 4rem 0 8rem;
}

.portfolio .small-title {
  margin: 0;
}

.portfolio .card-container {
  padding: 0;
}
.card-container .portfolio-card {
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px #90a4be;
  background: #e8f2fc;
}
.portfolio-cover {
  width: 480px;
}
.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.portfolio-title h4 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0.8rem 0;
}
.portfolio-title i {
  transition: 0.2s ease-in-out;
}
.portfolio-title i:hover {
  color: #4a6481;
}

.portfolio-article {
  padding: 1.5rem 1rem;
}
.portfolio-article p {
  font-size: 0.9rem;
  margin: 0.8rem 0 0;
}

/* Contact Section */
#contact-section {
  padding: 4rem 0 8rem;
  background-color: #e8f2fc;
}
.contactInfo-container {
  display: flex;
  justify-content: space-around;
}
.contact .small-title {
  margin: 0;
  padding-left: 10px;
}

.form {
  margin-bottom: 1.4rem;
  width: 200%;
}
input,
textarea {
  padding: 0.75rem 1.3rem;
  border: 1px solid #4a6481;
  border-radius: 5px;
  resize: none;
  font-family: "Poppins", sans-serif;
}
input::placeholder,
textarea::placeholder {
  color: #464646;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  background-color: #212f49;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-submit:hover {
  background-color: #0d1b2a;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.contact-item i {
  color: #0d1b2a;
  background-color: #afc6e5;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactItem-detail h4 {
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.contactItem-detail p {
  margin-top: 0.4rem;
}
